@import "../../scss/variables";

.cart-container {
  background: $white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cart-control {
  position: relative;
  min-width: 100%;
}
.cart-items {
  background: $white;
  height: 550px;
  width: clamp(350px, 600px, 70%);
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem;
  border-radius: 0.1875rem;
  padding: 1.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow-y: scroll;

  .cart-list-items {
    font-style: normal;
    line-height: 2.75rem;
    letter-spacing: 0em;
    .cart-item {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;
    }
    .cart-item > div {
      flex: 1 1 0px;
      margin-top: 40px;
    }
  }
}

.total-items {
  display: flex;
  justify-content: space-between;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.75rem;
  letter-spacing: 0em;
}

.button {
  background: $black;
  color: $white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  width: 100%;
  border: none;
}
.cart-item-details-empty {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.cart-empty-text {
  font-size: 1.5rem;
}
.cart-item {
  border-bottom: 1px solid gray;
}
