@import "../../scss/variables";

.product {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}
.product-img {
  width: 100%;
  margin-bottom: -2px;
  border-radius: 10%;
}
.product-item-wrapper {
  background: $black-see-through;
  color: $white;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &:hover {
    opacity: 1;
    border-radius: 10%;
  }
}
.product-item-wrapper::-webkit-scrollbar {
  display: none;
}
.product-name {
  font-size: calc(max(2.5vw, 3rem));
  margin-bottom: 1em;
}
.product-brand {
  font-size: calc(max(1vw, 1.5rem));
}

.product-item-up {
  width: 70%;
  margin: 3em auto;
}

.add-to-cart-button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.add-to-cart-button,
.add-to-cart-price {
  padding: 0 1em 1em 1em;
  font-size: calc(max(1.5vw, 2rem));
}
.product-item-down {
  display: flex;
  justify-content: space-between;
}
