@import "../src/scss/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h3,
p {
  margin: 0;
}
body {
  background: $canvas;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
.body-wrapper {
  width: 98%;
  margin: 0 auto;
}
