@import "../../scss/variables";
.banner-footer-text {
  font-family: Crimson Text;
  font-size: 6.25vw;
  font-style: normal;
  line-height: 8.3125rem;
  margin-bottom: 1.25rem;
  color: $white;
}
.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.banner-footer-button {
  height: 3.625rem;
  width: 9.375rem;
  background: $black;
  color: $white;
}
.banner-image {
  height: 70vh;
  width: 100%;
  object-fit: cover;
  margin: 0;
}
.banner-footer {
  height: 19.75rem;
  width: 100%;
  background: $green-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875rem;
}
